<div class="container" style="width:50%;">
    <div class="sub-heading full-width" style="text-align: center">{{title}}</div>
    <form class="container full-width horizontal-margin">
        <div class="row horizontal-margin">
            <div class="two columns">Email:</div>
            <div class="ten columns"><input type="text" name="Email" class="full-width" placeholder="email"/></div>
        </div>
        <div class="row">
            <div class="two columns">Password:</div>
            <div class="ten columns"><input type="text" name="Password" class="full-width" placeholder="password"/></div>
        </div>
        <div class="row horizontal-margin"><input type="submit" value="Login" class="button-primary full-width"/></div>
    </form>
</div>